/* docs/stylesheets/custom.css */
/* Target figures that have the 'center' class */
.md-figure.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Centers captions too */
}

/* Target the image inside the centered figure */
.md-figure.center > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
