vector_databases/ filter=lfs diff=lfs merge=lfs -text
vector_databases/lammps_manual/45e09310-2ea9-4fc0-86cc-3715e4142f59 filter=lfs diff=lfs merge=lfs -text
vector_databases/lammps_manual/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/a6e48de8-1b6e-439f-8029-c8405b5c50f5 filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
vector_databases/**/*.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/**/*.sqlite3 filter=lfs diff=lfs merge=lfs -text
