vector_databases/lammps_manual/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
vector_databases/lammps_manual/45e09310-2ea9-4fc0-86cc-3715e4142f59/header.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/lammps_manual/45e09310-2ea9-4fc0-86cc-3715e4142f59/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
vector_databases/lammps_manual/45e09310-2ea9-4fc0-86cc-3715e4142f59/length.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/lammps_manual/45e09310-2ea9-4fc0-86cc-3715e4142f59/link_lists.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/lammps_manual/45e09310-2ea9-4fc0-86cc-3715e4142f59/data_level0.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/a6e48de8-1b6e-439f-8029-c8405b5c50f5/data_level0.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/a6e48de8-1b6e-439f-8029-c8405b5c50f5/header.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/a6e48de8-1b6e-439f-8029-c8405b5c50f5/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/a6e48de8-1b6e-439f-8029-c8405b5c50f5/length.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/a6e48de8-1b6e-439f-8029-c8405b5c50f5/link_lists.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/28e3a1f7-858a-4ece-81fd-7f5d642049f6/data_level0.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/28e3a1f7-858a-4ece-81fd-7f5d642049f6/header.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/28e3a1f7-858a-4ece-81fd-7f5d642049f6/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/28e3a1f7-858a-4ece-81fd-7f5d642049f6/length.bin filter=lfs diff=lfs merge=lfs -text
vector_databases/nmrshiftdb2/28e3a1f7-858a-4ece-81fd-7f5d642049f6/link_lists.bin filter=lfs diff=lfs merge=lfs -text
